
/* Container styles */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

/* Leaderboard header styles */
h2 {
  text-align: center;
  margin-top: 20px;
}

/* List container styles */
.list-container {
  flex-grow: 1; /* Allow the list container to grow and take remaining space */
  overflow-y: auto; /* Enable vertical scrolling for the list container */
}

/* List styles */
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* List item styles */
li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}