.leaderboard-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  outline:none
}

h2 {
  color: white;
  text-align: left;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 0; 
  border: none;
}

li span {
  font-weight: bold;
  margin-right: 10px; 
}