.nav-container {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  max-height: 50px;
}

.nav-container.open {
  max-height: 500px;
  transition: max-height 0.8s ease-in-out;
}

.toggle-button {
  background: #091833;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
}

.nav-links {
  display: none;
  transition: max-height 0.8s ease-in-out;
}

.nav-container.open .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #091833;
  max-height: 500px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  background: #091833;
}
