.page-header {
  text-align: center;
  margin-bottom: 30px;
}

.leaderboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:#091833;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh; 
  overflow-y: auto; 
}

.leaderboard-list {
  list-style: none;
  padding: 0;
}

.leaderboard-item {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  color: white; 
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.leaderboard-item:last-child {
  border-bottom: none; 
}
